.forgot-div {
  background-color: white;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forgot {
  min-height: 100vh;
  background: url(/background.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.forgot .logo {
  width: max(20vw, 200px);
}
.forgot-form {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  width: 350px;
  height: 308px;
}
.forgot-form h2 {
  font-weight: 500;
}
.form-input {
  padding: 8px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  outline-color: #077eff;
}
.forgot-form button {
  padding: 10px;
  background-color: #077eff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.forgot-form button:hover {
  background-color: #0c78ec;
}

.forgot-form button:active {
  background-color: white;
  border: 2px solid #077eff;
  color: black;
}
.forgot-div button {
  padding: 10px;
}
#home-button {
  background-color: #077eff;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
@media (max-width: 768px) {
  .forgot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .forgot .logo {
    width: 150px;
     margin-bottom: 20px; 
  }
  .forgot-div {
    height: auto; 
    width: 90%; 
    margin: 0; 
  }
  .forgot-form {
    width: 350px; 
    height: 300px; 
  }
  #home-button {
    margin-bottom: 6px;
  }
}